.features {
  padding: 5rem 0 5rem 0;
  display: flex;
  justify-content: space-around;

  &__item {
    text-align: center;
  }

  &__heading {
    position: relative;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
   }
}


