.header {
  padding: 2.2rem 0 2.2rem 0;
  margin: 0 auto;

  &__header-contacts {
    padding: 0 0 2rem 10.3rem;
    border-bottom: 1px solid rgb(222, 222, 222);
  }

  &__phone-number,
  &__email-contact {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 2rem 0 1rem;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
  }

  &__logo-shop-name {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
  }

  &__logo-shop-type {
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
  }

  &__navbar,
  &__controls {
    padding-top: 1rem;
  }

  &__navbar-item,
  &__controls-item {
    display: inline-block;
  }

  &__navbar-item {
    margin: 0 5rem 0 5rem;
  }

  &__navbar-link {
    font-size: 1.8rem;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2rem;
  }

  &__navbar-link:hover,
  &__controls-link:hover {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #000;
  }

  &__controls {
    padding-right: 1.5rem;
  }

  &__controls-item {
    margin: 0 2.5rem 0 2.5rem;
    padding-top: 0.5rem;
    color: #000;
  }

  &__controls-link {
    color: #000;
  }

  @media screen and (max-width: $small-break-point) {
    &__navigation {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 2rem;
      text-align: center;
    }

    &__logo-shop-name {
      font-size: 4rem;
    }

    &__logo-shop-type {
      font-size: 2rem;
    }

    &__logo-link {
      margin-bottom: 2rem;
    }

    &__navbar {
      text-align: center;
      padding: 0;
    }

    &__navbar-item {
      display: block;
      margin-bottom: 4rem;
    }

    &__controls {
      padding: 0;
    }
  }
}
