.sale-slider {
  position: relative;
  min-height: 87rem;
  overflow: hidden;

  &__slide-active {
    position: relative;
  }

  &__sale {
    position: absolute;
    top: 28rem;
    left: 40rem;
    font-size: 21rem;
    line-height: 21rem;
    font-weight: 600;
    color: #000;
  }

  &__description {
    position: absolute;
    top: 47rem;
    left: 40.4rem;
    font-size: 6.2rem;
    font-weight: 600;
    color: #000;
  }

  &__slider-navigation {
    position: absolute;
    left: 93rem;
    bottom: 5rem;
  }
}
