.special-offers {
  padding: 5.6rem 0 6.4rem 0;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 50%;
    height: 36rem;
    text-align: center;
    vertical-align: middle;
  }

  &__item-1 {
    padding-top: 5.7rem;
    background: url("../image/special_offers/pink_bg.png") no-repeat;
  }

  &__item-2 {
    padding-top: 5.5rem;
    background: url("../image/special_offers/bl_bg.png") no-repeat;
  }

  &__heading {
    font-size: 10.6rem;
    text-transform: capitalize;
    color: #fff;
    margin: 0;
  }

  &__button {
    background: #feecec;
    color: #5c5858;
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: lowercase;
  }

  &__slogan {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 0.8rem;
    letter-spacing: 0.5rem;
    margin-top: -2rem;
  }

  &__link {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid #fff;
  }

  &__link:hover {
    color: #f4f4f4;
    border-bottom: 2px solid #f4f4f4;
  }

  @media screen and (max-width: 1000px) {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__item {
      width: 80%;

    }
  }

  @media screen and (max-width: $small-break-point) {

    &__item {
      height: 100%;
      padding-bottom: 5.5rem;
    }

    &__heading {
      font-size: 7rem;
    }
  }
}
